.article{
    width: 18vw;
    text-align: center;
    height: 10vh;
    border-radius: 45px;
    border-collapse: collapse;
    background-color: aliceblue;
    padding-top: 14px;
    margin-bottom: 10px;
}